{#
# -------------------------------------------------------------------------
# Fields plugin for GLPI
# -------------------------------------------------------------------------
#
# LICENSE
#
# This file is part of Fields.
#
# Fields is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2 of the License, or
# (at your option) any later version.
#
# Fields is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with Fields. If not, see <http://www.gnu.org/licenses/>.
# -------------------------------------------------------------------------
# @copyright Copyright (C) 2013-2022 by Fields plugin team.
# @license   GPLv2 https://www.gnu.org/licenses/gpl-2.0.html
# @link      https://github.com/pluginsGLPI/fields
# -------------------------------------------------------------------------
#}

{% import 'components/form/fields_macros.html.twig' as fields %}
{% set rand = random() %}

{% if form_only is not defined or form_only == false %}
<div id="container{{ rand }}" class="asset {{ bg }}">
{% endif %}

   <form name="asset_form" method="post" action="{{ target }}" {{ formoptions|raw }} enctype="multipart/form-data" data-submit-once>
      <input type="hidden" name="plugin_fields_containers_id" value="{{ container_id }}" />
         <div class="flash-messages">
            <div class="alert alert-info">
               {{ __('The engine is used for hide block when main object meets condition')}}
            </div>
         </div>
      {% if display_condition is null %}
         {{ fields.largeTitle(__('Add condition to hide block', 'fields'), '', true) }}
      {% else %}
         <div class="d-flex align-items-start mb-3">
            <button class="btn btn-primary me-2" type="button" name="switch_add" value="1">
               <i class="far fa-plus"></i>
               <span>{{ __('Add condition to hide block', 'fields') }}</span>
            </button>
         </div>
         {{ fields.largeTitle(__('Edit condition to hide block', 'fields'), '', true) }}
      {% endif %}
      <div class="card-body pe-1 d-flex flex-wrap">
         <div class="col-10 flex-column">
            <div class="d-flex flex-row flex-wrap flex-xl-nowrap">
               <div class="row flex-row align-items-start flex-grow-1">
                  <div class="row flex-row">

                     {{ fields.dropdownArrayField('itemtype', display_condition.fields['itemtype']|default(null), container_itemtypes, __('Item type'), {'rand': rand, 'display_emptychoice': true}) }}
                     {% do call('Ajax::updateItemOnSelectEvent',
                        [
                              'dropdown_itemtype'~ rand,
                              'results_fields',
                              url_for_on_change,
                              {
                                 'itemtype'        : '__VALUE__',
                                 'action': 'get_itemtype_so',
                              }
                        ])
                     %}
                     <div id='results_fields' class='form-field row col-12 col-sm-6  mb-2'>
                        {% if display_condition is not null %}
                           {{ fields.dropdownArrayField('search_option', display_condition.fields['search_option']|default(null), list_search_option, '', {'no_label': true, 'rand': rand, 'display_emptychoice': false}) }}
                           {% do call('Ajax::updateItemOnSelectEvent',
                           [
                                 'dropdown_search_option'~ rand,
                                 'results_condition',
                                 url_for_on_change,
                                 {
                                    'search_option_id'  : '__VALUE__',
                                    'itemtype'  : display_condition.fields['itemtype'],
                                    'action'     : 'get_condition_switch_so'
                                 }
                           ])
                        %}
                        {% endif %}
                     </div>

                     <div id='results_condition' class='row flex-row'>
                        {% if display_condition is not null %}
                           {{ include('@fields/forms/display_condition_block.html.twig') }}
                        {% endif %}
                     </div>

                  </div> {# .row #}
                  <div class="mx-n2 d-flex flex-row-reverse align-items-start">
                     {% if display_condition is not null %}
                        <input type="hidden" name="id" value="{{ display_condition.fields['id'] }}" />
                        <button class="btn btn-primary me-2" type="submit" name="update" value="1">
                           <i class="far fa-save"></i>
                           <span>{{ _x('button', 'Update') }}</span>
                        </button>
                     {% else %}
                        <button class="btn btn-primary me-2" type="submit" name="add" value="1">
                           <i class="far fa-plus"></i>
                           <span>{{ _x('button', 'Add') }}</span>
                        </button>
                     {% endif %}
                     <input type="hidden" name="_glpi_csrf_token" value="{{ csrf_token() }}" />
                  </div>
               </div> {# .row #}
            </div> {# .flex-row #}
         </div>
      </div> {# .card-body #}
   </form>

   {% if form_only is not defined or form_only == false %}
      {{ fields.largeTitle(__('Conditions to hide block', 'fields'), '', false) }}
      <div class="card-body d-flex flex-wrap">
         <div class="col-12 flex-column">
            <div class="d-flex flex-row flex-wrap flex-xl-nowrap">
               <div class="row flex-row align-items-start flex-grow-1">
                  <div class="row flex-row">
                     <table class="table">
                        <thead>
                           <tr>
                              <th>{{ __('Item type') }}</th>
                              <th>{{ __('Field') }}</th>
                              <th>{{ __('Condition') }}</th>
                              <th>{{ __('Value') }}</th>
                              <th></th>
                           </tr>
                        </thead>
                        <tbody>
                           {% if list_display_conditions|length > 0 %}
                              {% for data_display_condition in list_display_conditions %}

                                 {% set condition %}
                                    {% do call('PluginFieldsDisplayContainer::getConditionName', [data_display_condition.condition]) %}
                                 {% endset %}

                                 {% set field_name %}
                                    {% do call('PluginFieldsDisplayContainer::getFieldName', [data_display_condition.search_option, data_display_condition.itemtype]) %}
                                 {% endset %}

                                 {% set raw_value %}
                                    {% do call('PluginFieldsDisplayContainer::getRawValue', [data_display_condition.search_option, data_display_condition.itemtype, data_display_condition.value]) %}
                                 {% endset %}

                                 <tr>
                                    <td>{{ data_display_condition.itemtype }}</td>
                                    <td>{{ field_name }}</td>
                                    <td>{{ condition }}</td>
                                    <td>{{ raw_value}}</td>
                                    <td>
                                       <input type="hidden" name="id" value="{{ data_display_condition.id }}" />
                                       <button type="button" class="btn btn-sm btn-primary" name="edit"
                                               title="{{ _x('button', 'Edit') }}"
                                               data-bs-toggle="tooltip" data-bs-placement="top">
                                          <i class="ti ti-pencil"></i>
                                       </button>
                                       <form class="d-inline" method="post" action="{{ target }}">
                                          <input type="hidden" name="id" value="{{ data_display_condition.id }}" />
                                          <button type="submit" class="btn btn-sm btn-danger" name="delete"
                                                  title="{{ _x('button', 'Delete permanently') }}"
                                                  data-bs-toggle="tooltip" data-bs-placement="top">
                                             <i class="ti ti-trash"></i>
                                          </button>
                                          <input type="hidden" name="_glpi_csrf_token" value="{{ csrf_token() }}" />
                                       </form>
                                    </td>
                                 </tr>
                              {% endfor %}
                           {% else %}
                              <tr>
                                 <td colspan="6">{{ __('No item found') }}</td>
                              </tr>
                           {% endif %}
                        </tbody>
                     </table>
                  </div> {# .row #}
               </div> {# .row #}
            </div> {# .flex-row #}
         </div>
      </div> {# .card-body #}
   {% endif %}
   {% if form_only is not defined or form_only == false %}
   <script>
      $(document).ready(() => {
          $('#container{{ rand }}').on('click', 'button[name="edit"]', (e) => {
              const button = $(e.currentTarget);
              const row = button.closest('tr');
              const id = row.find('input[name="id"]').val();
              $.ajax({
                  url: CFG_GLPI.root_doc + '/' + GLPI_PLUGINS_PATH.fields + '/ajax/display_container.php',
                  method: 'GET',
                  data: {
                      action: 'get_edit_form',
                      displaycondition_id: id,
                      plugin_fields_containers_id: $('input[name="plugin_fields_containers_id"]').val()
                  }
              }).then((result) => {
                  $('form[name="asset_form"]').replaceWith(result);
              });
          });
          $('#container{{ rand }}').on('click', 'button[name="switch_add"]', (e) => {
              const button = $(e.currentTarget);
              const row = button.closest('tr');
              $.ajax({
                  url: CFG_GLPI.root_doc + '/' + GLPI_PLUGINS_PATH.fields + '/ajax/display_container.php',
                  method: 'GET',
                  data: {
                      action: 'get_add_form',
                      plugin_fields_containers_id: $('input[name="plugin_fields_containers_id"]').val()
                  }
              }).then((result) => {
                  $('form[name="asset_form"]').replaceWith(result);
              });
          });
      });
   </script>
</div>
{% endif %}
