{#
 # -------------------------------------------------------------------------
 # Fields plugin for GLPI
 # -------------------------------------------------------------------------
 #
 # LICENSE
 #
 # This file is part of Fields.
 #
 # Fields is free software; you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation; either version 2 of the License, or
 # (at your option) any later version.
 #
 # Fields is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with Fields. If not, see <http://www.gnu.org/licenses/>.
 # -------------------------------------------------------------------------
 # @copyright Copyright (C) 2013-2023 by Fields plugin team.
 # @license   GPLv2 https://www.gnu.org/licenses/gpl-2.0.html
 # @link      https://github.com/pluginsGLPI/fields
 # -------------------------------------------------------------------------
 #}

<div class="card-body d-flex flex-wrap">
    <div class="col-12 col-xxl-12 flex-column">
        <div class="d-flex flex-row flex-wrap flex-xl-nowrap">
            <div class="row flex-row align-items-start flex-grow-1" style="min-width: 0;">
                <div class="row flex-row">

                    {% if canedit %}
                        <form method='POST' class='mt-5' action='/plugins/fields/front/container.form.php'>
                            <input type="hidden" name="plugin_fields_containers_id" value="{{ c_id }}">
                            <input type="hidden" name="items_id" value="{{ item.getID() }}">
                            <input type="hidden" name="itemtype" value="{{ item.getType() }}">
                    {% endif %}

                    {{ html_fields|raw }}

                    {% if canedit %}
                            <input type="hidden" name="_glpi_csrf_token" value="{{ csrf_token() }}" />
                            <div class="card-body mt-3 mx-n2 border-top d-flex flex-row-reverse align-items-start flex-wrap">
                                <button class="btn btn-primary me-2" type="submit" name="update_fields_values" value="1">
                                    <i class="ti ti-device-floppy"></i>
                                    <span>{{ _x('button', 'Save') }}</span>
                                </button>
                            </div>
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
